@model IEnumerable<Projem.Models.Personel.PersonelBilgileri>

@{
    ViewBag.Title = "PersonelKartlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-5">
    @foreach (var item in Model)
    {
        <div class="col-md">
            <div style="height:auto" class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img style="width:120px; height:120px; border-radius:10px" class="card-img card-img-left" src="@Html.DisplayFor(modelItem => item.PersonelGorseli)" alt="Card image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <b><h4 class="card-title">@Html.DisplayFor(modelItem => item.AdSoyad)</h4></b>
                            <b><small>@Html.DisplayFor(modelItem => item.Gorev)</small></b>
                            <p style="height:90px; overflow:hidden" class="card-text">
                                @Html.DisplayFor(modelItem => item.PozisyonAciklama)
                            </p>
                            <b><p style="font-size:13px">E-posta: @Html.DisplayFor(modelItem => item.Eposta)</p></b>
                            <b><p style="font-size:13px">Telefon: @Html.DisplayFor(modelItem => item.TelNo)</p></b>
                            <a href="mailto:@Html.DisplayFor(modelItem => item.Eposta)"><button type="button" class="btn rounded-pill btn-primary">Mail Gönder</button></a>
                            <a href="tel:@Html.DisplayFor(modelItem => item.TelNo)"><button type="button" class="btn rounded-pill btn-warning">Ara</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
